<div class="jumbotron jumbotron-fluid restaurant-show-image" style="background-image: url('<%= @restaurant.restaurant_img.url %>');">
</div>
<div class="container">
    <h2 class="text-center">
        <%= @restaurant.name %>
    </h2>
    <p class="text-center">
        <%= @restaurant.address %> - Link to google maps?</p>
    <div class="card-deck">
        <div class="card">
            <ul>
                <% @restaurant.categories.each do |category| %>
                    <li>
                        <%= category.name %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <div class="card">
            <ul>
                <% @restaurant.locations.each do |location| %>
                    <li>
                        <%= location.name %>
                    </li>
                    <% end %>
            </ul>
        </div>
        <div class="card">
            <div class="btn-group">
                <%= link_to "New Review", new_restaurant_review_path(@restaurant), class: "btn btn-secondary" %>
            </div>
            <ul>
                <% @restaurant.reviews.each do |review| %>
                    <li>
                        <%= review.rating %> -
                            <%= review.description %>
                    </li>
                    <% end %>
            </ul>
        </div>
    </div>
</div>